.content{
    display: flex;
    justify-content: center;
    flex-direction: row;

 }

 #h2{
     font-size: 35px;
     margin-top: 5%;

 }

 /* .col-md-4{
     padding-right: 200px;
     border: 1px solid black;
     color: red;
 } */
 