{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" >
        <div class="row">

            {% if all_comments %}
                <div class="col-md-7" >
                    <h3 class='' >All comments for the post</h3>
                    {% for comment in all_comments %}
                       <!-- <div class="card comment" >
                           <div class="card-body">
                            <h5 class="card-title">{{comment.pitch.title}}</h5>
                             <p class="card-title">{{ comment.comment }}</p>
                             <p class="card-text">--- {{comment.user.username}}</p>
                           </div>
                       </div> -->
                       <div class="card bg-success" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{comment.pitch.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ comment.comment }}</h6>
                          <p class="card-text">{{comment.user.username}}</p>
                        </div>
                      </div>
                    {% endfor %}
                   </div>
                   <!-- comment form -->
                   <div class="col-md-5  commentform" >

                        {{wtf.quick_form(form)}}
                   </div>
               </div>
            {%else%}
            <div class="card w-90 mb-3">
                <div class="card-body">
                  <p class="card-title">No Comments yet</p>
                </div>
            </div> 
            <div class="col-md-5">
                    {{wtf.quick_form(form)}}
                </div>
            {%endif%}
    </div>
   
{% endblock%}
